html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

/* body {
  overflow-y: overlay;
} */

/* HEADER */

header {
  z-index: 10;
  width: 100%;
  padding: 0 auto;
}

.header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  height: 7.5em;
  box-sizing: border-box;
}

.aec-logo {
  cursor: auto;
  padding: 1em;
}

.aec-logo>img:hover {
  transform: scale(1.1);
}

.aec-logo>img {
  cursor: pointer;
  height: 4em;
  display: block;
  transition: transform 0.8s;
}

.page-links {
  font-family: 'Coiny', cursive;
  font-size: 1.5em;
  color: #000;
  margin-left: 1em;
}

.top-sticky-bar {
  top: 0;
  position: fixed !important;
  z-index: 100;
  background-color: #fff;
  opacity: 0.95;
}

.link-style {
  font-family: 'Coiny', cursive;
  font-size: 1.5em;
  color: #000;
  margin: auto 0.5em auto 0.5em;
  padding: 0.8em 1em;
  display: inline-block;
  overflow: auto;
}

.work-link:hover, .about-link:hover, .resume-link:hover, .contact-link:hover {
  border-radius: 40px;
  background-clip: margin-box;
  transition: background-color 0.8s;
}

.work-link:hover, .resume-link:hover {
  background-color: #FF82B7;
}

.about-link:hover {
  background-color: #FBF100;
}

.contact-link:hover {
  background-color: #7AFFFF;
}

#ux-scroll-link:hover {
  background-color: #ffe3ec;
  border-radius: 40px;
}

#arch-scroll-link:hover {
  background-color: #cff3ff;
  border-radius: 40px;
}

.scroll-active-pink {
  background-color: #ffe3ec;
  border-radius: 40px;
  transition: all 1s;
}

.scroll-active-blue {
  background-color: #cff3ff;
  border-radius: 40px;
  transition: all 1s;
}

.desktop-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.page-links>a {
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.25em;
  padding-top: 0.8em;
  display: inline-block;
}

.cyan-bg {
  background: #7affff;
}

.pink-bg {
  background: #ff82b7;
}

.yellow-bg {
  background: #fff969;
}

.current-page {
  border-radius: 40px;
  background-clip: margin-box;
  transition: background-color 0.8s;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HAMBURGER MENU */

.mobile, .hp-mobile {
  display: none;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

.hamburger {
  cursor: pointer;
  transition: transform 0.3s;
  padding-right: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.hamburger:hover {
  transform: scale(1.1);
}

.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
  width: 35px;
  height: 4px;
  background-color: #22303e;
  border-radius: 2px;
  margin: 6px 0;
  transition: 0.4s;
}

.arrow .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1.2px, 0px);
  transform: rotate(-45deg) translate(-5px, 0px);
  width: 20px;
}

.arrow .bar2 {
  -webkit-transform: rotate(180deg) translate(2px, 0px);
  transform: rotate(360deg) translate(-0.5px, -0.5px);
  opacity: 1;
}

.arrow .bar3 {
  -webkit-transform: rotate(45deg) translate(-1.2px, -1px);
  transform: rotate(45deg) translate(-5px, -1px);
  width: 20px;
}

.mobile-meatballs-menu {
  width: 100%;
}

.meatballs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.circle1, .circle2, .circle3 {
  background-color: #CF0057;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: 0 4px;
}

/* INTRO SECTION */

.intro-container {
  width: 100%;
  max-width: 1200px;
  max-height: 700px;
  position: relative;
  background-image: url(../assets/workspace_bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
}

.intro-bubble-position {
  grid-column: 3;
  grid-row: 1;
  width: 90vw;
  max-width: 620px;
}

.speech-bubble {
  z-index: 20;
  position: relative;
  background: #fffaed;
  border-radius: 70px;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 3px solid #32a5c9;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px #45d2ff;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  align-self: center;
  justify-self: center;
}

.speech-bubble-arrow {
  z-index: 2;
  border-left: 21px solid transparent;
  border-top: 20px solid #45d2ff;
  bottom: -25px;
  position: absolute;
  right: 50%;
}

.speech-bubble-arrow::before {
  border-left: 23px solid transparent;
  border-top: 23px solid #32a5c9;
  bottom: 2px;
  content: '';
  position: absolute;
  right: 5px;
}

.speech-bubble-arrow::after {
  border-left: 21px solid transparent;
  border-top: 21px solid #fffaed;
  bottom: 8px;
  content: '';
  position: absolute;
  right: 8px;
}

.speech-bubble-arrow-top {
  z-index: 20;
  border-left: 21px solid transparent;
  border-bottom: 22.5px solid #45d2ff;
  top: -25px;
  position: absolute;
  right: 50%;
}

.speech-bubble-arrow-top::before {
  border-left: 23px solid transparent;
  border-bottom: 23px solid #32a5c9;
  top: 2px;
  content: '';
  position: absolute;
  right: 5px;
}

.speech-bubble-arrow-top::after {
  border-left: 21px solid transparent;
  border-bottom: 21px solid #fffaed;
  top: 8px;
  content: '';
  position: absolute;
  right: 8px;
}

h1 {
  font-family: 'Coiny', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

h4 {
  font-family: inherit;
  font-size: 36px;
  font-weight: 800;
  text-align: left;
}

h5 {
  font-family: inherit;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

h6 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.intro-para {
  font-size: 1.5em;
}

.me-blob-hi {
  grid-column: 3;
  grid-row: 2;
  z-index: 2;
  margin: 0 2em 2em 2em;
  align-self: center;
  justify-self: center;
}

.overlap {
  z-index: 10;
  position: absolute;
}

.blue-pen {
  top: -2%;
  right: -2%;
}

.red-pen {
  bottom: 30%;
  left: -2%;
}

/* HOUSEPLANT SECTION */

.houseplant-container {
  margin: 1.25em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-image: url(../assets/houseplant_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 700px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.houseplant-care-card {
  z-index: 2;
  top: -2%;
  left: -2%;
}

.houseplant-care-card>img {
  width: 80%;
}

.button-link {
  cursor: auto;
}

.CTA {
  background: #cf0057;
  border-radius: 20px;
  width: 200px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  margin: 1em auto 1em auto;
  transition: all 0.5s;
}

.CTA-white {
  border-radius: 20px;
  width: 200px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  margin: 1em auto 1em auto;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.5s;
}

.CTA:hover {
  background: transparent;
  border: 2px solid #cf0057;
  color: #cf0057;
}

.CTA-white:hover {
  background: #fff;
  color: #cf0057;
}

.top-edge-overlap {
  position: absolute;
  top: -15%;
  width: 90vw;
  max-width: 680px;
  grid-column: 1 / -1;
  align-self: center;
}

.project-info-container {
  z-index: 20;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-logo {
  margin: 1em auto 1em auto;
}

.houseplant-mark {
  font-family: 'Caveat Brush', cursive;
  font-size: 36px;
  color: #607848;
}

.roles-text {
  font-size: 1em;
}

.hp-roles-text {
  font-weight: 600;
  font-size: 1.1em;
}

.hp-mobile {
  display: none;
}

.project-info-text {
  font-size: 1.5em;
}

.hp-project-info-text {
  font-size: 1.25em;
  font-weight: 400;
}

.bottom-right {
  position: absolute;
  bottom: 5vw;
  right: 0;
}

.hover-show {
  opacity: 0;
}

.pop-text {
  padding: 1em;
  font-size: 1em;
}

.hp-pop-image-plant {
  align-self: flex-end;
}

.plant-speech {
  max-width: 400px;
}

.pop-out-container {
  overflow: hidden;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
}

.comic-pop-out-right {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* KIT SECTION */

.kit-container {
  margin: 1.25em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-image: url(../assets/kit_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 700px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.kit-mark {
  font-family: 'Asap', sans-serif;
  font-weight: 600;
  font-size: 2.25em;
}

.kit-paperclip {
  bottom: 1%;
  right: -2%;
}

.bottom-left {
  z-index: 40;
  position: absolute;
  bottom: 7%;
  left: -6em;
  width: 25em;
}

.kit-speech {
  margin-left: 8em;
}

.flipped {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* MORE WORK SECTION */

.more-work-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.more-work-card {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  z-index: 4;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 80vw;
  max-width: 600px;
  background-color: #fffaed;
  box-shadow: 4px 4px 0px #222222;
  -webkit-box-shadow: 4px 4px 0px #222222;
  -moz-box-shadow: 4px 4px 0px #222222;
}

.more-work-card>img {
  margin-top: 2em;
  margin-bottom: 1em;
}

.left-2height {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

.object-fit-contain {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.right-1height-top {
  align-self: flex-end;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  margin-bottom: 0;
}

.right-1height-bottom {
  align-self: flex-start;
  grid-column: 3 / -1;
  grid-row: 2 / -1;
}

/* CONTACT SECTION */

.contact-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 700px;
  width: 100%;
  max-width: 1200px;
  margin: 1.25em auto 1.25em auto;
}

.beige-gradient {
  padding-top: 2em;
  background: linear-gradient(180deg, #fff0c4 0%, rgba(255, 240, 196, 0) 100%);
}

.blue-gradient {
  background: linear-gradient(180deg, #b0ffff 0%, #deffff 49.17%, #ffffff 100%);
}

.comic-text-container {
  text-align: center;
  height: 700px;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
}

.icons-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.icon-text-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 65%;
  padding: 0.5em;
}

.icon {
  background: #ffdeec;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.mail-icon:hover {
  background: transparent;
  border: 3px solid #ffdeec;
  box-sizing: border-box;
}

.icon-text-container>p, .icon-text-container>a>p {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em;
  width: auto;
}

.text-button-container {
  text-align: center;
  height: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* CONTACT PAGE STYLING */

.container-section {
  position: relative;
  width: 100%;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 6.25em auto;
}

.first-button {
  margin-bottom: 4em;
}

.contactpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 6.25em auto;
}

.subheader-text {
  margin-top: 0;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form-container-width {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.from-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
}

label {
  padding-left: 3em;
}

form {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
}

input, textarea {
  background: #fffaed;
  border: 3px solid #32a5c9;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px #45d2ff;
  border-radius: 70px;
  padding: 2em 3em 2em 3em;
  font-family: inherit;
  font-size: 1em;
}

#from-name {
  padding-right: 1.5em;
}

#from-email {
  padding-left: 1.5em;
}

#message-input {
  height: 50vh;
}

textarea {
  width: 100%;
  vertical-align: top;
}

.logos-container {
  margin-left:
}

.logos-container>a>img {
  width: 2em;
}

/* BIO PAGE STYLING */

.biopage-heading {
  width: 98vw;
  max-width: 1200px;
  margin: 0 auto 6.25em auto;
}

.bio-diagram-container {
  display: grid;
  width: 98vw;
  max-width: 1250px;
  margin: 0 auto 6.25em auto;
}

.comic-self-diagram {
  z-index: 2;
}

.wide1, .wide2, .wide3, .wide4 {
  display: none;
}

.bio-bubble {
  z-index: 10;
  position: relative;
  background: #fffaed;
  border-radius: 70px;
  text-align: center;
  padding: 1em 2em 1em 2.5em;
  border: 3px solid #32a5c9;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px #45d2ff;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  width: 90vw;
  max-width: 360px;
  text-align: left;
}

.right-leader {
  z-index: 1;
  position: absolute;
  left: 100%;
}

.name-leader {
  top: 60%;
}

.story-leader {
  top: 50%;
}

.arch-leader {
  top: 40%;
}

.fav-leader {
  top: 20%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-with-arrow-container {
  position: relative;
  text-align: center;
}

.swoopy-arrow-top {
  position: absolute;
  top: -50%;
  right: -30%;
}

.swoopy-arrow-bottom {
  position: absolute;
  top: -80%;
  left: -50%;
}

.bio-contact-container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 6.25em auto;
  text-align: center;
}

/* WORK PAGE WORK CONTAINERS */

.workpage-title {
  margin-bottom: 0.2em;
}

.flex-row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em 0;
  padding: 0;
  max-height: 200px;
  max-width: 100%;
  width: 100%;
  position: absolute;
}

.active-work-bg {
  background-color: #fff969;
  border-radius: 20px;
  min-width: 100px;
  height: 100%;
}

.no-margin {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
}

.work-card-container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 3em;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 8em;
  min-width: 0;
}

.work-card-fullwidth {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 11fr 12fr;
  grid-gap: 20px;
  margin: 0 auto;
  height: 590px;
}

.full-width-grid {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  align-self: end;
  justify-self: end;
}

.full-width-grid-image {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
  width: 100%;
  overflow: hidden;
}

.work-card-fullwidth>div>img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* .cover {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
} */

.work-card {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 0;
}

.work-card>img {
  width: 100%;
  min-width: 0;
  height: auto;
  object-fit: cover;
}

.work-card-halfheight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  max-height: 285px;
  max-width: 590px;
  align-items: center;
  width: 100%;
}

.work-text-container {
  text-align: left;
  min-width: 0;
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1em 10% 1em 10%;
  box-sizing: border-box;
}

.filler {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.no-top-margin {
  margin-top: 0;
}

.project-links {
  margin-bottom: 1.5em;
}

.work-text-spacing {
  margin-top: 0;
}

.work-description-spacing {
  margin-top: 1em;
  margin-bottom: 2em;
}

h4.work-text-spacing {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.white-bold {
  color: #fff;
  font-weight: 700;
  font-size: 3em;
  text-align: left;
  margin: 1em 0 0.5em 0;
}

.white-text {
  color: #fff;
}

.light-pink-bg {
  background-color: #ffe3ec;
}

.dark-pink-bg {
  background-color: #CF0057;
}

.light-blue-bg {
  background-color: #cff3ff;
}

.white-text {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.red-link {
  color: #cf0057;
}

.red-link:hover {
  background: #cf0057;
  color: #fff;
}

.blue-link {
  color: #006acb;
}

.blue-link:hover {
  background: #006acb;
  color: #fff;
}

.proj-link {
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 800;
  margin-right: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}

.proj-link:hover {
  border-radius: 20px;
  background-clip: margin-box;
}

.no-display {
  display: none !important;
}

/* CASE STUDY RULES */

.title-splash-container {
  max-width: 1200px;
  margin: 20px auto 20px auto;
  position: relative;
}

.splash-text-card {
  top: 1.5em;
  left: 4em;
  max-width: 400px;
}

.title-splash-container>img {
  max-width: 1200px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.splash {
  grid-column: 3 / -1;
  grid-row: 2/-1;
  object-fit: cover;
  margin: 0 auto;
}

.two-column-container {
  margin: 4em auto 2em;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 10vh 20px;
  align-items: center;
  justify-items: center;
  min-width: 0;
}

.two-column-container-low-top {
  margin: 20px auto 2em;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 10vh 20px;
  align-items: center;
  justify-items: start;
  min-width: 0;
}

.case-card {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  padding: 0 10% 0 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.case-card>img, .case-overall-card>img, .icon-iteration-box>img, .overall-iteration-box>img {
  max-width: 100%;
  object-fit: contain;
}

.problem-height {
  min-height: 12em;
}

.plant-image-first {
  width: 55% !important;
  object-fit: contain;
}

.plant-image-second {
  width: 45% !important;
  object-fit: contain;
}

.quote-container {
  padding: 1em 10% 1em 10%;
  box-sizing: border-box;
  grid-column: 1 / -1;
  height: 50vh;
  min-width: 0;
  width: 100%;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-center>img {
  width: 100%;
  object-fit: cover;
}

.pink-underline-quote {
  border-bottom: 0.25em solid #ffe3ec;
}

.pink-underline {
  border-bottom: 0.12em solid #ffe3ec;
}

.case-header {
  width: auto;
  margin-right: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.case-body-small {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  font-size: 1em;
}

em.case-body-small {
  display: inline-block;
}

.case-body {
  font-size: 1.125em;
  padding-bottom: 1em;
}

.case-body-bold {
  font-size: 1.125em;
  font-weight: 800;
}

.case-body-survey {
  padding-left: 20px;
  padding-right: 1em;
}

.case-flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.case-flex-row>ul {
  padding-right: 2em;
}

.case-flex-row>img {
  width: 100%;
  object-fit: contain;
}

.case-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.case-flex-row-container {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.icon-iteration-box {
  max-width: 470px;
  min-width: 0;
  margin-bottom: 2em;
}

#label-iterations {
  display: flex;
  flex-flow: row wrap;
}

.label-iteration-box {
  max-width: 270px;
  min-width: 0;
  flex: 1;
}

.overall-iteration-box {
  max-width: 590px;
  min-width: 0;
}

.overall-iteration-box>p, .label-iteration-box>p, .icon-iteration-box>p {
  padding-left: 2em;
}

.branding-flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / -1;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}

.branding-flex-row>img {
  margin: 1em auto;
}

.survey-header {
  width: auto;
  padding-left: 20px;
  margin-bottom: 0.2em;
  margin-top: 0.75em;
}

.survey-grid {
  min-width: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);
  grid-template-rows: minmax(85px, max-content) minmax(165px, max-content) minmax( 130px, max-content) minmax(85px, max-content);
  grid-gap: 10px;
}

.survey-full-width {
  grid-column: 1 /-1;
  width: 100%;
  margin: 0 auto;
}

.pink-survey-subtitle {
  color: #cf0057;
  padding-left: 20px;
}

a.link {
  text-decoration: underline !important;
}

.comp-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.case-overall-card {
  max-width: 1200px;
  position: relative;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}

.case-fullwidth-card {
  width: 100%;
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 6fr 6fr 1fr;
  grid-template-rows: 4fr 2fr 1fr;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.overlay-container {
  width: 100%;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  align-self: start;
  justify-self: start;
}

.overlay-container-start {
  max-width: 1200px;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  align-self: center;
  justify-self: start;
}

.case-overlay {
  z-index: 10;
  max-width: 590px;
  min-width: 0px;
  padding: 1em 10% 2em 10%;
  box-sizing: border-box;
}

.case-overlay-right {
  z-index: 10;
  max-width: 590px;
  min-width: 0px;
  position: absolute;
  top: 30%;
  right: 0;
  padding: 1em 10% 2em 10%;
  box-sizing: border-box;
}

.case-backimage {
  display: block;
  object-fit: fill;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -2;
}

.review-image-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 3fr 1fr;
}

.reviews-image {
  width: 100%;
  object-fit: contain;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.review-overlay-caption {
  position: relative;
  max-width: 19em;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  grid-column: 2 / -1;
  grid-row: 1/ 2;
  align-self: end;
}

.persona-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.persona-container>div {
  margin: 0 0.5em;
  height: 100%;
}

.persona-container>div>img {
  max-width: 100%;
  min-width: 0;
  object-fit: contain;
}

.persona-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.persona-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.persona-text {
  margin-top: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.persona-text>h3 {
  text-align: center;
}

.persona-large>.persona-text {
  padding-top: 1em;
  padding-bottom: 1em;
}

.case-body-persona {
  padding: 0 1em 0 1em;
}

.comp-container>img {
  object-fit: contain;
}

ol.case-body {
  list-style-position: outside;
  margin-left: 1em;
}

ol.case-body>li {
  margin-bottom: 1em;
  margin-left: 0;
}

.survey-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.case-note {
  margin-top: 1em;
  min-width: 0;
}

.case-nav-links>a, .mobile-case-links>a {
  text-align: center;
  transition: all 0.5s;
}

.case-nav-links>a:hover, .mobile-case-links>a:hover {
  background-color: #ffe3ec;
  border-radius: 40px;
}

.case-body-link {
  display: block;
  padding-right: 3%;
}

#styleguide-lb {
  width: 100%;
  min-width: 0;
  object-fit: contain;
}

#moodboard-lb, #mindmap-lb, #logo-lb, #styleguide-lb {
  cursor: pointer;
}

#overview-section-start {
  margin-top: 10em;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.bottom-margin {
  margin-bottom: 2em !important;
}

.bar-separator {
  width: 5px;
  height: 24px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

/* MORE WORK CAROUSEL STYLING */

.more-work-carousel {
  height: auto;
  margin: 10vh auto;
  width: 100%;
  text-align: center;
}

.work-cards-carousel, #prev, #next {
  display: inline-flex;
}

.owl-item>.work-card {
  height: 100%;
}

.owl-item>.work-card>.work-text-container {
  max-height: 100%;
}

.owl-item>.work-card>img {
  width: 100%;
  object-fit: cover;
  flex: 1;
}

.work-cards-carousel {
  width: 60%;
  max-width: 1200px;
}

#prev, #next {
  width: 10%;
  margin: 0 2em;
}

.carousel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn>a {
  padding: 1em;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.owl-dots {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.owl-dot {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 2em 1em;
  border-radius: 50%;
  text-align: center;
  background-color: #FFE3EC;
}

.owl-dot.active {
  background-color: #FF82B7;
}

/* RESUME STYLING */

video {
  width: 100%;
  height: auto;
}

a.subheader-text {
  display: block;
  margin: 0 auto;
}

.resume-section-tools {
  margin: 0 auto 40px;
  width: 100vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: minmax(min-content, 230px) repeat(2, 2fr);
  grid-template-rows: 1fr;
  grid-gap: 5%;
}

.resume-section {
  margin: 0 auto 40px;
  width: 100vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: minmax(min-content, 230px) 2fr;
  grid-template-rows: 1fr;
  grid-gap: 5%;
}

.resume-categ {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.resume-categ>h3 {
  text-align: center !important;
}

.tool-item {
  height: 15%;
}

.tool-item>h6 {
  margin-bottom: 0;
}

.resume-body {
  font-family: inherit;
  font-size: 1.125em;
}

.resume-body>li {
  list-style-type: none;
}

.work-item>.project-info-text {
  margin-top: 0;
  margin-bottom: 0;
}

.edu-item>.project-info-text {
  margin-top: 0;
  margin-bottom: 0;
}

.edu-item {
  margin-top: 1em;
  margin-bottom: 2em;
}

.work-item {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* BONSAI STYLING */

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.content-section {
  width: 100%;
  margin-bottom: 2em;
}

#bonsai-images>video, #bonsai-images>img {
  height: 100%;
  width: 33%;
  object-fit: fill;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 2em 1em;
  padding: 0;
  box-sizing: border-box;
}

#bonsai-gif-grid {
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}

#bonsai-gif-grid>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#bonsai-gif-grid>div>video, #bonsai-gif-grid>div>img {
  width: 100%;
  height: 80%;
  object-fit: fill;
  object-position: 50% 50%;
}

#grow-then-copy {
  margin-left: 1%;
}

#web-demo-button {
  padding-right: 1em;
}