@media (max-width: 500px) {
  .speech-bubble {
    grid-row: 1 / -1;
  }
  .speech-bubble-arrow, .speech-bubble-arrow-top {
    display: none;
  }
  .top-edge-overlap {
    display: none;
  }
  .houseplant-container {
    margin-top: 2em;
  }
  .houseplant-care-card {
    left: -20%;
  }
  /* BIOPAGE MEDIA500 STYLE */
  .resume-section, .resume-section-tools {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .resume-categ {
    width: 100%;
  }
  .tool-item {
    height: auto;
  }
  .bio-diagram-container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-rows: 1fr repeat(4, min-content);
    align-items: center;
    margin-bottom: 5vh;
    justify-content: center;
  }
  .comic-self-diagram {
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
  }
  .wide4 {
    display: block;
  }
  .namebub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 2 /3;
  }
  .storybub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 3 / 4;
  }
  .archbub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 4 / 5;
  }
  .favbub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 5 / 6;
  }
  .WIDE1 {
    display: block;
  }
  .bubble-leader {
    display: none;
  }
  .swoopy-arrow-top, .swoopy-arrow-bottom {
    display: none;
  }
  #overview-section-start {
    margin-top: 2em;
  }
  .review-overlay-caption {
    margin-top: 1em;
    position: relative;
    display: inline-flex;
    right: 0;
    bottom: 0;
  }
  .review-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .two-column-container, .two-column-container-low-top {
    width: 100%;
    min-width: 0;
    grid-template-columns: 1fr;
  }
  .two-column-container-low-top {
    margin-bottom: 2em;
  }
  .project-links {
    display: flex;
    flex-flow: row wrap;
  }
  .case-overlay {
    top: 5%;
  }
  .case-overall-card {
    display: flex;
    flex-direction: column;
  }
  .case-overall-card>.case-overlay-right {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 1em;
  }
  .persona-container {
    justify-content: center;
  }
  .quote-container {
    height: auto;
    min-width: 0;
  }
  .case-card, .work-text-container, .case-flex-row-container, .case-flex-row {
    height: auto;
    width: 100%;
    min-width: 0;
  }
  .work-text-container {
    max-height: 20em;
  }
  .case-backimage {
    min-width: 0;
    object-fit: cover;
  }
  .work-cards-carousel {
    width: 100%;
  }
  #prev, #next {
    display: none;
  }
  .contactpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 100%;
    margin: 0 auto 6.25em auto;
  }
  .case-fullwidth-card {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .work-card-container {
    margin-top: 9em !important;
  }
}

@media (max-width: 720px) {
  .header {
    align-items: center;
    height: 5em;
  }
  .mobile-hamburger-menu {
    padding: 1em;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-links {
    z-index: 99;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0.8em;
    background-color: #fff;
    border-radius: 0 0 0 30px;
    padding-bottom: 1em;
  }
  .mobile-case-links {
    z-index: 99;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 0.5em 0 1em;
  }
  .click-show {
    display: none;
  }
  .aec-logo>img {
    height: 3em;
  }
  .logos-container>a>img {
    height: 1.5em;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .from-container {
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #from-email {
    padding-left: 0;
  }
}

@media (max-width: 955px) {
  .hp-desktop {
    display: none;
  }
  .hp-mobile {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 100%;
    max-width: 100%;
    min-width: 0;
  }
  .hp-mobile>.title-and-roles>h5 {
    margin: 1em 0 0.5em 0;
    text-align: left;
  }
  .CTA-white {
    background: #cf0057;
    color: #fff;
  }
  .CTA-white:hover {
    background: transparent;
    border: 2px solid #cf0057;
    color: #cf0057;
  }
  .work-text-container {
    max-height: 100%;
  }
}

@media (min-width: 501px) and (max-width: 1020px) {
  .resume-section, .resume-section-tools {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .resume-categ {
    width: 100%;
  }
  .tool-item {
    height: auto;
  }
  .bio-diagram-container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-rows: 1fr repeat(4, min-content) 1fr;
    align-items: center;
  }
  .comic-self-diagram {
    justify-self: center;
    grid-column: 1;
    grid-row: 1 / -1;
  }
  .namebub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 2 /3;
  }
  .storybub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 3 / 4;
  }
  .archbub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 4 / 5;
  }
  .favbub-position {
    justify-self: center;
    grid-column: 1;
    grid-row: 5 / 6;
  }
  .wide2 {
    display: block;
  }
  .bubble-leader {
    display: none;
  }
  .two-column-container {
    max-width: 100%;
    min-width: 0;
    grid-template-columns: 1fr;
  }
  .persona-container {
    justify-content: center;
  }
  #prev, #next {
    margin: 0 1em;
  }
  .review-overlay-caption {
    grid-row: 1/ -1;
  }
}

@media (min-width: 1021px) and (max-width: 1150px) {
  .bio-diagram-container {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. nb c .' '. sb c .' '. ab c .' '. fb c .';
    align-items: center;
  }
  .comic-self-diagram {
    justify-self: start;
    grid-area: c;
  }
  .namebub-position {
    justify-self: end;
    grid-area: nb;
  }
  .storybub-position {
    justify-self: end;
    grid-area: sb;
  }
  .archbub-position {
    justify-self: end;
    grid-area: ab;
  }
  .favbub-position {
    justify-self: end;
    grid-area: fb;
  }
  .name-leader {
    top: 30%;
  }
  .flippy-leader {
    z-index: 1;
    position: absolute;
    left: 100%;
  }
  .wide2 {
    display: block;
  }
  .flipped-leader {
    display: block;
  }
  .leader {
    display: none;
  }
  .persona-container {
    justify-content: center;
  }
}

@media(min-width: 1020px) and (max-width: 1200px) {
  .two-column-container {
    width: 96vw;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
  .flex-center {
    max-width: 100%;
  }
  .flex-center>img {
    max-width: 100%;
  }
}

@media (min-width: 1151px) {
  .bio-diagram-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'nb c ab' 'sb c fb';
    align-items: center;
  }
  .wide3 {
    display: block;
  }
  .comic-self-diagram {
    grid-area: c;
  }
  .namebub-position {
    grid-area: nb;
  }
  .storybub-position {
    grid-area: sb;
  }
  .archbub-position {
    justify-self: end;
    grid-area: ab;
  }
  .favbub-position {
    justify-self: end;
    grid-area: fb;
  }
  .flipped-leader {
    display: none;
  }
  .leader {
    display: block;
  }
  .flippy-leader {
    z-index: 1;
    position: absolute;
    right: 100%;
  }
}

@media (max-width: 1200px) {
  .work-card-halfheight {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 0;
    height: auto;
  }
  .work-card-halfheight {
    width: 100% !important;
    max-height: 38em;
  }
  .work-card-halfheight>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .work-card-halfheight>.work-text-container {
    flex: 1 1 16em;
  }
  .case-fullwidth-card {
    grid-template-rows: 1fr 2fr 1fr;
  }
}

@media (max-width: 800px) {
  .work-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    min-width: 0;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    box-sizing: border-box;
  }
  .work-card-fullwidth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 0;
    max-width: 590px;
    height: 100%;
  }
  .fullwidth-grid-image {
    width: 100%;
    height: 100%;
  }
  .work-card-fullwidth>div>img {
    min-width: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .work-card-fullwidth>.work-text-container {
    justify-content: center;
    height: 50%;
  }
}

@media (min-width: 801px) and (max-width:1335px) {
  .work-card-container {
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(4, 18%) 9% 9%;
    grid-gap: 10px;
  }
  .work-card>img, .work-card-halfheight>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .work-card-fullwidth {
    grid-template-columns: repeat(2, 1fr) 25% 24%;
    grid-gap: 10px;
  }
  /* .half-images {
    height: 50% !important;
  } */
}

@-ms-viewport {
  width: device-width;
}